html{
	width:  100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    background: #7D7979;
}

.picture{
	width: 80vmin;
	height: 80vmin;
}

.paint{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 3fr 1fr;/*1.5fr 1.5fr 0.5fr 0.5fr;*/
    grid-template-columns: 1.25fr 4fr 0.5fr;
    gap: 3vmin;
    background: black;
}


.block-red{
	background: #D92315;
	grid-column: 2 / 4;
  	grid-row: 1 ;
}

.block-blue{
	background: #035A9D;
	grid-column: 1;
	grid-row: 2;
	position: relative;
}

.block-blue p{
	position: absolute;
	right: 0;
	bottom: 0;
	font-family: sans-serif;
    font-size: 1.5vmin;
    letter-spacing: 1vmin;
}

.block-blue p span{
    letter-spacing: normal;
}

.block-white-1{
	background: white;
	grid-column: 2;
  	grid-row: 2;
}

.block-of-whites{
	display: flex;
	grid-column: 1;
  	grid-row: 1/2;
  	background: white;
  	flex-direction: column;
    justify-content: center;
}

.block-black-2{
	background: black;
	width: 100%;
	height: 5.5vmin;
}

.block-right{
	position: relative;
	grid-column: 3;
	grid-row: 2;
}

.gap{
	background: black;
	position: absolute;
	float: left;
	height: 4vmin;
	width: 95%;
	top: 50%;
    transform: translateY(-50%);
}

.block{
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-areas: 100% / 50% 50%;
}

.block-white-2{
	background: white;
	grid-column: 1;
	grid-row: 1;
}

.block-yellow{
	background: #EDDB6A;
	grid-column: 1;
	grid-row: 2;
}


.button{
	width: 15vmin;
	height: 5vmin;
	border: 1px solid black;
	position:  relative;
	display: flex;
	justify-content: space-around;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background: white;
    cursor: pointer;
}

.modal-window {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
}

.modal-window{
	font-size: 1em;
	font-family: Arial;

}

.modal-window:target{
	opacity: 1;
	visibility: visible;
}

.modal-body {
    min-height: 100%;
    width: 90vmin;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
}

.modal-content {
    width: 90vmin;
    height: 70vmin;
    border: none;
    background: white;
    border-radius: 3%;
}

.text {
    height: 100%;
    width: 100%;
    border: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
	margin: 0.7em;
	margin-bottom: 0;
}

.close{
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 15vmin;
	height: 5vmin;
	border: 1px solid black;
	position:  relative;
	background: white;
	cursor: pointer;
}

a{
	text-decoration: none;
	
}

.main-modal-body{
	display: grid;
	grid-template-columns: 3fr 2fr;
    gap: 2em;
    margin: 0 2em;
    align-items: center;
    height: 100%;
}

.main-text{
	width: 100%;
	grid-column: 1;
}

.pic{
	width: 100%;
}

img{
	width: 100%;
}